.logo{
	position: relative;
	width: 150px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 80px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 40px;
}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover{
	color: #8B0000;
	text-decoration: underline;
}

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

p {
	font-family: Montserrat;
	font-size: 17px;
}

table td {
	padding: 8px 32px;
}

div.container{
	font-family: Montserrat;
	font-size: 17px;
	display: flex;
	justify-content: center;
}

.tituloprincipal{
	font-family: Montserrat;
	font-size: 24px;
	text-align: center;
}
.secundario{
	font-family: Montserrat;
	font-size: 24px;
	text-align: center;
}

.titulolanca{
	font-family: Montserrat;
	font-size: 22px;
}

.camisafoto{
	width: 450px;
	margin: 0 auto;
}

.imagemOFC{
	width: 500px;
	margin: 0 auto;
}


div.camisaOFC{
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.camisa{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*.principal{
	background: linear-gradient(#FEFEFE, #888888);
}

.ficha{
	background: #888888;
}*/

.titulojog{
	text-align: center;
}


.atacantes {
  display: flex;
  justify-content: space-between;
}

.player {
  text-align: center;
}

.player img {
  /*width: 200%; /* Adjust the width as needed */
  /*max-width: 250px; /* Set a maximum width to maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Add margin bottom to create space between image and text */
}

.float-text {
  text-align: center;

}

.roger{
	width: 300px;
	margin-left: 150px;
}

.chrys{
	width: 200px;
	margin-right: 150px;
}

.yuri{
	width: 300px;
}


.zaga {
  display: flex;
  justify-content: space-between;
}

.bruno{
	width: 300px;
	margin-left: 250px;
}

.fragner{
	margin-right: 250px;
	width: 220px;
}

.meio {
  display: flex;
  justify-content: space-between;
}

.renato{
	width: 230px;
	margin-left: 130px;
}

.fausto{
	margin-right: 130px;
	width: 300px;
}

.paulo{
	width: 350px;
}

.goleiro {
  display: flex;
  justify-content: space-between;
}

.cassio{
	width: 230px;
	margin-left: 250px;
}

.carlos{
	margin-right: 250px;
	width: 250px;
}




